In [3]:
from pandas.io.sql import read_sql
from pyiem.network import Table as NetworkTable
from pyiem.plot import MapPlot
from pyiem.database import get_dbconn

networks = ["IA_ASOS", "AWOS"]
nt = NetworkTable(networks)

Populating the interactive namespace from numpy and matplotlib

In [40]:
ASOS = get_dbconn("iem")
df = read_sql(
    """
  select max(day), id, network, name, st_x(geom) as lon, st_y(geom) as lat from summary s JOIN stations t on (t.iemid = s.iemid) WHERE
  t.network in ('IA_ASOS','AWOS') and max_dwpf >= 79.5 GROUP by id, network, name, lon, lat ORDER by id 
""",
    ASOS,
    index_col="id",
)
#    vals.append( row[0].strftime("%-m/%-d\n%Y" if row[0].year != 2014 else "%-m/%-d") )

In [41]:
df.sort_values("max", inplace=True)
df.reset_index(inplace=True)
df["labels"] = df.apply(
    lambda x: "%s\n%s"
    % (
        x["name"],
        x["max"].strftime(
            "%-m/%-d/%Y" if x["max"].year != 2016 else "%-m/%-d"
        ),
    ),
    axis=1,
)
print(df)

     id         max  network             name        lon        lat  \
0   DSM  2010-08-10  IA_ASOS       DES MOINES -93.653114  41.533950
1   IIB  2011-06-13     AWOS     INDEPENDENCE -91.950400  42.454428
2   DEH  2011-07-19     AWOS          DECORAH -91.743314  43.275519
3   ALO  2011-07-27  IA_ASOS         Waterloo -92.401293  42.554365
4   GGI  2011-08-01     AWOS         Grinnell -92.733197  41.709731
5   SUX  2011-08-01  IA_ASOS       SIOUX CITY -96.379478  42.391678
6   SPW  2011-08-01  IA_ASOS          SPENCER -95.210088  43.168218
7   ORC  2011-08-01     AWOS      Orange City -96.060586  42.989492
8   MCW  2011-08-01  IA_ASOS       MASON CITY -93.326097  43.154383
9   DBQ  2011-08-02  IA_ASOS          DUBUQUE -90.709143  42.398350
10  OXV  2011-08-06     AWOS        Knoxville -93.111392  41.298447
11  CAV  2012-07-23     AWOS          CLARION -93.759258  42.743042
12  FXY  2014-03-27     AWOS      Forest City -93.623669  43.232317
13  EBS  2014-07-06     AWOS     Webster City -93.869078  42.439231
14  OLZ  2014-07-07     AWOS          OELWEIN -91.975989  42.683139
15  IOW  2014-07-22  IA_ASOS        IOWA CITY -91.544535  41.639390
16  IKV  2015-07-12     AWOS           ANKENY -93.569475  41.687808
17  VTI  2015-07-12     AWOS           VINTON -92.024842  42.217578
18  DVN  2015-07-13  IA_ASOS      QUAD CITIES -90.594829  41.613329
19  FFL  2015-07-13     AWOS        FAIRFIELD -91.983411  41.052089
20  MXO  2015-07-13     AWOS  MONTICELLO MUNI -91.160456  42.220361
21  CWI  2015-07-13     AWOS          CLINTON -90.332796  41.829504
22  SLB  2015-07-17     AWOS       Storm Lake -95.239919  42.597228
23  CNC  2015-07-17     AWOS         CHARITON -93.360769  41.018431
24  LRJ  2015-07-17     AWOS          LE MARS -96.192250  42.775375
25  CID  2015-07-17  IA_ASOS     CEDAR RAPIDS -91.724588  41.882899
26  ADU  2015-07-28     AWOS          AUDUBON -94.920442  41.699353
27  EOK  2015-07-28     AWOS      KEOKUK MUNI -91.427392  40.461461
28  OTM  2015-07-28  IA_ASOS          OTTUMWA -92.444592  41.100793
29  FSW  2015-07-28     AWOS     FORT MADISON -91.326717  40.661483
30  TVK  2015-07-28     AWOS      Centerville -92.898339  40.683181
31  PEA  2015-09-17     AWOS            PELLA -92.943108  41.398914
32  CBF  2016-07-05     AWOS   COUNCIL BLUFFS -95.760408  41.261111
33  CSQ  2016-07-05     AWOS          CRESTON -94.360797  41.018789
34  LWD  2016-07-05  IA_ASOS           LAMONI -93.900467  40.630636
35  I75  2016-07-05     AWOS          Osceola -93.687614  41.047172
36  DNS  2016-07-05     AWOS          DENISON -95.379989  41.984194
37  MUT  2016-07-17     AWOS        MUSCATINE -91.140575  41.366994
38  TNU  2016-07-20     AWOS      NEWTON MUNI -93.019042  41.670111
39  AIO  2016-07-20     AWOS         ATLANTIC -95.046528  41.405881
40  AMW  2016-07-20  IA_ASOS             Ames -93.618515  41.990439
41  SHL  2016-07-20     AWOS          SHELDON -95.835314  43.208161
42  SDA  2016-07-20     AWOS  SHENANDOAH MUNI -95.411233  40.753275
43  RDK  2016-07-20     AWOS          RED OAK -95.262411  41.010650
44  PRO  2016-07-20     AWOS            Perry -94.163708  41.827792
45  CKP  2016-07-20     AWOS         Cherokee -95.553775  42.730419
46  AWG  2016-07-20     AWOS       WASHINGTON -91.674811  41.275144
47  ICL  2016-07-20     AWOS         CLARINDA -95.022272  40.724153
48  IFA  2016-07-20     AWOS       Iowa Falls -93.265081  42.469097
49  OOA  2016-07-20     AWOS        Oskaloosa -92.491867  41.227275
50  BNW  2016-07-20     AWOS       BOONE MUNI -93.848575  42.048569
51  FOD  2016-07-20     AWOS       FORT DODGE -94.203203  42.549741
52  MPZ  2016-07-20     AWOS   MOUNT PLEASANT -91.512228  40.945253
53  MIW  2016-07-20  IA_ASOS     MARSHALLTOWN -92.916315  42.110606
54  BRL  2016-07-20  IA_ASOS       BURLINGTON -91.125494  40.772929
55  CIN  2016-07-20     AWOS          CARROLL -94.788881  42.044361
56  HNR  2016-07-20     AWOS           HARLAN -95.335456  41.583419
57  CCY  2016-07-20     AWOS     CHARLES CITY -92.613222  43.073006
58  EST  2016-07-20  IA_ASOS      ESTHERVILLE -94.747643  43.400849
59  AXA  2016-07-20     AWOS           ALGONA -94.272369  43.079647

                        labels
0        DES MOINES\n8/10/2010
1      INDEPENDENCE\n6/13/2011
2           DECORAH\n7/19/2011
3          Waterloo\n7/27/2011
4           Grinnell\n8/1/2011
5         SIOUX CITY\n8/1/2011
6            SPENCER\n8/1/2011
7        Orange City\n8/1/2011
8         MASON CITY\n8/1/2011
9            DUBUQUE\n8/2/2011
10         Knoxville\n8/6/2011
11          CLARION\n7/23/2012
12      Forest City\n3/27/2014
13      Webster City\n7/6/2014
14           OELWEIN\n7/7/2014
15        IOWA CITY\n7/22/2014
16           ANKENY\n7/12/2015
17           VINTON\n7/12/2015
18      QUAD CITIES\n7/13/2015
19        FAIRFIELD\n7/13/2015
20  MONTICELLO MUNI\n7/13/2015
21          CLINTON\n7/13/2015
22       Storm Lake\n7/17/2015
23         CHARITON\n7/17/2015
24          LE MARS\n7/17/2015
25     CEDAR RAPIDS\n7/17/2015
26          AUDUBON\n7/28/2015
27      KEOKUK MUNI\n7/28/2015
28          OTTUMWA\n7/28/2015
29     FORT MADISON\n7/28/2015
30      Centerville\n7/28/2015
31            PELLA\n9/17/2015
32         COUNCIL BLUFFS\n7/5
33                CRESTON\n7/5
34                 LAMONI\n7/5
35                Osceola\n7/5
36                DENISON\n7/5
37             MUSCATINE\n7/17
38           NEWTON MUNI\n7/20
39              ATLANTIC\n7/20
40                  Ames\n7/20
41               SHELDON\n7/20
42       SHENANDOAH MUNI\n7/20
43               RED OAK\n7/20
44                 Perry\n7/20
45              Cherokee\n7/20
46            WASHINGTON\n7/20
47              CLARINDA\n7/20
48            Iowa Falls\n7/20
49             Oskaloosa\n7/20
50            BOONE MUNI\n7/20
51            FORT DODGE\n7/20
52        MOUNT PLEASANT\n7/20
53          MARSHALLTOWN\n7/20
54            BURLINGTON\n7/20
55               CARROLL\n7/20
56                HARLAN\n7/20
57          CHARLES CITY\n7/20
58           ESTHERVILLE\n7/20
59                ALGONA\n7/20

In [1]:
m = MapPlot(
    sector="iowa",
    axisbg="white",
    title="Date of Last 80+$^\circ$F Dew Point Temperature Observation (Iowa ASOS Sites)",
    subtitle="thru 20 July 2016, dates without year are 2016 days, based on hourly obs",
)

df2 = df[df["network"] == "IA_ASOS"]
m.plot_values(df2["lon"], df2["lat"], df2["labels"], "%s", labelbuffer=1)
# m.contourf(lons, lats, vals, np.arange(750,2051,100), units='total change in mb')
# m.drawcounties()
m.postprocess(filename="160721.png")

NameError: name 'MapPlot' is not defined