In [10]:
from pyiem.plot import get_cmap, figure_axes, plt
import matplotlib.dates as mdates
import matplotlib.cm as cm
import matplotlib.colors as mpcolors
import datetime
import pytz
from zoneinfo import ZoneInfo
from pandas.io.sql import read_sql
from pyiem.util import get_sqlalchemy_conn
cmap = get_cmap("gist_rainbow")
cmap.set_under("tan")
norm = mpcolors.BoundaryNorm(
    list(range(11)), 256
)

In [21]:
with get_sqlalchemy_conn("iem") as conn:
    df = read_sql("""SELECT valid, state, tmpf, ugc_zone,
     id from current_log c JOIN stations t ON (t.iemid = c.iemid)
     WHERE t.network in ('IA_ASOS', 'NE_ASOS', 'IL_ASOS', 'KS_ASOS') and valid > '2023-04-04 00:00'
     and tmpf is not null 
     ORDER by valid ASC
     """, conn, index_col=None)

In [23]:
with get_sqlalchemy_conn("postgis") as conn:
    warndf = read_sql("""SELECT issue, expire, ugc from warnings_2022 where issue > '2022-04-20 12:00'
    and issue < '2022-04-22' and substr(ugc, 1, 2) = 'IA' and phenomena = 'FG' and significance = 'Y'
     """, conn, index_col=None)

In [24]:
df2 = df.merge(warndf, left_on="ugc_zone", right_on="ugc", how="left")
df2["warned"] = (df2["issue"] < df2["valid"]) & (df2["expire"] > df2["valid"])
df2

,valid,vsby,ugc_zone,id,issue,expire,ugc,warned
0,2022-04-20 17:04:00+00:00,3.0,IAZ301,SPW,NaT,NaT,NaN,False
1,2022-04-20 17:04:00+00:00,4.0,IAZ035,FOD,2022-04-21 04:16:00+00:00,2022-04-21 13:51:00+00:00,IAZ035,False
2,2022-04-20 17:05:00+00:00,2.5,IAZ060,DSM,2022-04-21 04:16:00+00:00,2022-04-21 16:00:00+00:00,IAZ060,False
3,2022-04-20 17:05:00+00:00,10.0,IAZ029,OLZ,NaT,NaT,NaN,False
4,2022-04-20 17:05:00+00:00,10.0,IAZ090,SDA,2022-04-21 04:08:00+00:00,2022-04-21 16:00:00+00:00,IAZ090,False
...,...,...,...,...,...,...,...,...
36390,2022-04-22 03:15:00+00:00,10.0,IAZ040,IIB,NaT,NaT,NaN,False
36391,2022-04-22 03:15:00+00:00,10.0,IAZ074,OXV,2022-04-21 08:31:00+00:00,2022-04-21 16:00:00+00:00,IAZ074,False
36392,2022-04-22 03:15:00+00:00,10.0,IAZ018,CCY,2022-04-21 07:59:00+00:00,2022-04-21 13:00:00+00:00,IAZ018,False
36393,2022-04-22 03:15:00+00:00,10.0,IAZ037,IFA,2022-04-21 08:31:00+00:00,2022-04-21 13:51:00+00:00,IAZ037,False
36394,2022-04-22 03:15:00+00:00,10.0,IAZ062,GGI,2022-04-21 10:46:00+00:00,2022-04-21 14:57:00+00:00,IAZ062,False

In [3]:
x = []
y = []
base = datetime.datetime(2023, 4, 4, 5).replace(tzinfo=pytz.utc)
for hr in range(24):
    sts = base + datetime.timedelta(hours=hr)
    ets = sts + datetime.timedelta(hours=1)
    x.append(sts)
    df2 = df[(df['valid'] >= sts) & (df['valid'] < ets)]
    df2 = df2.sort_values('tmpf')
    y.append(df2['tmpf'].max() - df2['tmpf'].min())
    print("%s %s %s %s" % (hr, df2[['id', 'tmpf', 'valid']].head(1), df2[['id', 'tmpf', 'valid']].tail(1), y[-1]))

0      id  tmpf                     valid
25  SXK  32.0 2023-04-04 05:15:00+00:00      id  tmpf                     valid
24  FSW  51.8 2023-04-04 05:15:00+00:00 19.799999999999997
1       id  tmpf                     valid
163  SXK  32.0 2023-04-04 06:15:00+00:00       id  tmpf                     valid
148  OOA  50.2 2023-04-04 06:15:00+00:00 18.200000000000003
2       id  tmpf                     valid
300  SXK  30.2 2023-04-04 07:15:00+00:00       id  tmpf                     valid
350  SDA  50.0 2023-04-04 07:35:00+00:00 19.8
3       id  tmpf                     valid
492  SHL  32.0 2023-04-04 08:35:00+00:00       id  tmpf                     valid
476  OOA  49.1 2023-04-04 08:35:00+00:00 17.1
4       id  tmpf                     valid
642  SHL  32.0 2023-04-04 09:35:00+00:00       id  tmpf                     valid
635  VTI  48.2 2023-04-04 09:35:00+00:00 16.200000000000003
5       id  tmpf                     valid
848  SXK  32.0 2023-04-04 10:55:00+00:00       id  tmpf                     valid
822  VTI  48.2 2023-04-04 10:55:00+00:00 16.200000000000003
6       id  tmpf                     valid
874  SXK  33.8 2023-04-04 11:15:00+00:00       id  tmpf                     valid
964  VTI  48.4 2023-04-04 11:55:00+00:00 14.600000000000001
7        id  tmpf                     valid
1147  SHL  33.8 2023-04-04 12:55:00+00:00        id  tmpf                     valid
1154  VTI  50.9 2023-04-04 12:55:00+00:00 17.1
8        id  tmpf                     valid
1196  SHL  33.8 2023-04-04 13:15:00+00:00        id  tmpf                     valid
1229  EOK  51.8 2023-04-04 13:35:00+00:00 18.0
9        id  tmpf                     valid
1439  SXK  33.8 2023-04-04 14:55:00+00:00        id  tmpf                     valid
1434  EOK  57.2 2023-04-04 14:55:00+00:00 23.400000000000006
10        id  tmpf                     valid
1526  SHL  33.8 2023-04-04 15:35:00+00:00        id  tmpf                     valid
1594  EOK  64.4 2023-04-04 15:55:00+00:00 30.60000000000001
11        id  tmpf                     valid
1695  SHL  33.8 2023-04-04 16:35:00+00:00        id  tmpf                     valid
1792  EOK  73.4 2023-04-04 16:55:00+00:00 39.60000000000001
12        id  tmpf                     valid
1862  SHL  35.6 2023-04-04 17:35:00+00:00        id  tmpf                     valid
1947  EOK  80.6 2023-04-04 17:55:00+00:00 44.99999999999999
13        id  tmpf                     valid
1999  SHL  35.6 2023-04-04 18:15:00+00:00        id  tmpf                     valid
2097  EOK  84.2 2023-04-04 18:55:00+00:00 48.6
14        id  tmpf                     valid
2186  SHL  37.4 2023-04-04 19:35:00+00:00        id  tmpf                     valid
2194  SDA  87.8 2023-04-04 19:35:00+00:00 50.4
15        id  tmpf                     valid
2322  SXK  39.2 2023-04-04 20:35:00+00:00        id  tmpf                     valid
2366  I75  88.0 2023-04-04 20:55:00+00:00 48.8
16        id  tmpf                     valid
2480  SHL  39.2 2023-04-04 21:35:00+00:00        id  tmpf                     valid
2436  I75  87.3 2023-04-04 21:15:00+00:00 48.099999999999994
17        id  tmpf                     valid
2586  SHL  39.2 2023-04-04 22:15:00+00:00        id  tmpf                     valid
2642  OOA  85.1 2023-04-04 22:35:00+00:00 45.89999999999999
18        id  tmpf                     valid
2865  SHL  39.2 2023-04-04 23:55:00+00:00        id  tmpf                     valid
2738  OOA  83.3 2023-04-04 23:15:00+00:00 44.099999999999994
19        id  tmpf                     valid
2937  SHL  37.4 2023-04-05 00:35:00+00:00        id  tmpf                     valid
2958  OXV  80.6 2023-04-05 00:35:00+00:00 43.199999999999996
20        id  tmpf                     valid
3079  LRJ  37.4 2023-04-05 01:15:00+00:00        id  tmpf                     valid
3076  OOA  79.9 2023-04-05 01:15:00+00:00 42.50000000000001
21 Empty DataFrame
Columns: [id, tmpf, valid]
Index: [] Empty DataFrame
Columns: [id, tmpf, valid]
Index: [] nan
22 Empty DataFrame
Columns: [id, tmpf, valid]
Index: [] Empty DataFrame
Columns: [id, tmpf, valid]
Index: [] nan
23 Empty DataFrame
Columns: [id, tmpf, valid]
Index: [] Empty DataFrame
Columns: [id, tmpf, valid]
Index: [] nan

In [22]:
sts = datetime.datetime(2023, 4, 4, 0, tzinfo=ZoneInfo("America/Chicago"))
ets = datetime.datetime(2023, 4, 5, 0, tzinfo=ZoneInfo("America/Chicago"))
interval = datetime.timedelta(hours=1)
xticks = []
xticklabels = []
now = sts
while now <= ets:
    if now.hour % 3 != 0:
        now += interval
        continue
    fmt = "%-I %p" if now.hour != 0 else '%-I %p\n%-d %b'
    xticks.append(now)
    xticklabels.append(now.strftime(fmt))
    now += interval

fig, ax = figure_axes(
    title="Hourly Observed Air Temperature Difference by State",
    subtitle="Based on airport weather observations",
    figsize=(8, 6))
"""
ames = df2
names = {'AMW': "Ames", "DSM": "Des Moines", "LWD": "Lamoni", "CID": "Cedar Rapids"}
for i, stid in enumerate(['AMW', 'DSM', 'LWD', 'CID']):
    color = cmap(i / 5.)
    ames = df2[df2["id"] == stid]
    ax.scatter(ames['valid'].values, ames['vsby'].values, color=color, marker='o', alpha=1,
               label=f'[{stid}] {names[stid]}', s=40)

    df3 = ames[ames["warned"]]
    ax.scatter(df3['valid'].values, df3['vsby'].values, color='k', marker='+', alpha=1)

ax.set_title("20-21 April 2022 Iowa Airport Visibility Observations", fontsize=24)
ax.set_ylabel("Horizontal Visibility [mile]", fontsize=16)
ax.legend(ncol=10, loc=2)
ax.text(1, -0.1, 'dot with "+" indicates under NWS Dense Fog Advisory',
        transform=ax.transAxes, ha='right', fontsize=12)
#ax.set_yticks([0, 45, 90, 135, 180, 225, 270, 315, 360])
#ax.set_yticklabels(['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW', 'N'], fontsize=14)
#ax.set_ylim(-1, 361)
#leg = ax.legend()
#for lh in leg.legendHandles: 
#    lh.set_alpha(1)
ax.grid(True)
ax.set_ylim(0, 12)
"""
for state, df2 in df.groupby("state"):
    x = []
    y = []
    for dt, gdf in df2.groupby(df2['valid'].dt.strftime("%Y%m%d%H")):
        rng = gdf['tmpf'].max() - gdf['tmpf'].min()
        if rng < 10:
            continue
        x.append(datetime.datetime.strptime(dt, '%Y%m%d%H'))
        y.append(rng)
    ax.plot(x, y, zorder=5, lw=3, label=f"{state} [{max(y):.0f}]")
ax.set_xticks([])
ax.set_ylim(0, 90)
ax.set_ylabel("Observed Air Temperature Range $^\circ$F")
ax.set_xticks(xticks)
ax.set_xticklabels(xticklabels)
ax.set_xlim(sts, ets)
ax.legend()
ax.grid(True)
ax.set_xlabel("4 April 2023 CDT")

fig.savefig('230405.png')
plt.close()